<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>Регистрация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <!--/ Favicon -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->
</head>
<body>
        <div>
            {{register_form.errors}}
        </div>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div>
            <h2>Регистрация</h2><br>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{register_form.username.label}}
                    <div>
                        {{register_form.username}}
                    </div>
                </div>
                <div class="form-group">
                    {{register_form.email.label}}
                    <div>
                        {{register_form.email}}
                    </div>
                    
                </div>
                <div class="form-group">
                    {{register_form.password1.label}}
                    <div>
                        {{register_form.password1}}
                    </div>
                </div>
                <div class="form-group">
                    {{register_form.password2.label}}
                    <div>
                        {{register_form.password2}}
                    </div>
                </div>
                <div style="text-align: center;">
                    <p><input type="submit" class="btn btn-primary" name="Create user" value="Зарегистрировать"></p>
                    <p>Уже есть аккаунт? <a href="{% url 'login_page' %}">Войти</a></p>
                    <p><a href="/">На главную</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>