{% load static %}
{% load movie_tag %}

<header class="header">
    <div class="container-fluid px-lg-5">
        <nav class="py-4">
            <div id="logo">
                <h1> <a href="/" class="editContent"><img src="{% static 'images/logo2.png' %}" style="max-width: 100%; height: auto;"></a></h1>
            </div>
            <label for="drop" class="toggle">Меню</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li><a href="/">Главная</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                    <a href="{% url 'categories_list' %}">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'login_page' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Вход</a></li>
                <li><a href="{% url 'register_page' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Регистрация</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="banner-info">
    <p class="editContent" >Лучший сайт на django 3</p>
    <h3 class="mb-4 editContent">Все о кино</h3>
    <div class="ban-buttons">
    </div>
</div>

